<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
    <title>Enter council details</title>
</head>
<body>

    <header th:insert="fragments/fragments :: header"></header>

    <h1>Enter council details</h1>

    <form th:action="@{/add-new-council}" th:object="${council}" method="post">

        <div style="color: red;" th:if="${#fields.hasErrors('*')}">
            <p><strong>There is a problem</strong></p>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>


        <div style="color: red;" th:if="${#fields.hasErrors('councilName')}">
            <p>Enter a valid council name</p>
        </div>
        <label for="councilName">Council name</label>
        <input type="text" id="councilName" name="councilName"><br/>

        <label for="councilPhone">Phone number</label>
        <input type="text" id="councilPhone" name="councilPhone"><br/>

        <label for="councilEmail">Email address</label>
        <input type="text" id="councilEmail" name="councilEmail"><br/>

        <input type="submit" value="Submit">

    </form>

    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>