<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<main lang="en">
<head th:insert="fragments/fragments :: head"></head>

    <body class="govuk-template__body">
        <header th:insert="fragments/fragments :: header"></header>
        <main class="govuk-main-wrapper" id="main-content" role="main" style="margin-bottom: 200px">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                        <div th:insert="fragments/fragments :: flash-generic"></div>

                        <h1 class="govuk-heading-xl">Choose your council</h1>

                        <p class="govuk-body">Select a council to view more information about the housing support services it provides. You can contact your council's housing department directly using the details below.</p>
                        <p class="govuk-body">If you do not know your council, you can <a href="https://www.gov.uk/find-local-council" target="blank">find it using your postcode</a>.</p>

                    </div>

                    <div class="govuk-grid-column-full">
                        <table class="govuk-table">
                            <tr th:each="council : ${councils}">
                                <td><a th:href="@{'view-council/' + ${council.getId()}}"><span th:text="${council.getName()}"></span></a></td>
                                <td><a th:href="@{'view-council/' + ${council.getId()}}"><span th:text="${council.getAddress()}"></span></a></td>
                                <td><a th:href="@{'view-council/' + ${council.getId()}}"><span th:text="${council.getPhone()}"></span></a></td>
                            </tr>
                        </table>
                        <p class="govuk-body-s"><a href="admin/add-new-council">Add new council</a></p>
                    </div>

                    </div>
                </div>
            </main>
        </div>

    <footer th:insert="fragments/fragments :: footer"></footer>

        <script type="text/javascript" src="./javascript/script.js"></script>

    </body>

</html>

