<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
    <title>Home</title>
</head>
    <body>
        <header th:insert="fragments/fragments :: header"></header>
        <h1>Home</h1>

        <p><a href="add-new-council">Add new council</a></p>

        <table>
            <tr th:each="council : ${councils}">
                <td th:text="${council.getName()} "></td>
                <td th:text="${council.getPhone()} "></td>
                <td th:text="${council.getEmail()} "></td>
                <td><a th:href="@{'view-council/' + ${council.getId()}}">More information</a></td>
            </tr>
        </table>

        <footer th:insert="fragments/fragments :: footer"></footer>

    </body>
</html>

