<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
    <title>Home</title>
</head>
<body>
    <header th:insert="fragments/fragments :: header"></header>
    <h1>Home</h1>

    <p><a href="add-new-council">Add new council</a></p>

    <div th:each="council : ${councils}">
        <a th:href="@{'view-council/' + ${council.getCouncilId()}}">
            <span th:text="${council.getCouncilName()} "></span> <span th:text="${council.getCouncilPhone()} "></span> <span th:text="${council.getCouncilEmail()} "></span>
        </a>
    </div>

    <footer th:insert="fragments/fragments :: footer"></footer>
</body>
</html>

