<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
    <title>Sign in</title>
</head>

<body class="govuk-template__body">

    <header th:insert="fragments/fragments :: header"></header>
    <div class="govuk-width-container ">

    <h1>Sign in</h1>

    <form th:action="@{/sign-in}" th:object="${user}" method="post">

        <div style="color: red;" th:if="${#fields.hasErrors('*')}">
            <p><strong>There is a problem</strong></p>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <div style="color: red;" th:if="${#fields.hasErrors('username')}">
            <span>Enter a valid username</span>
        </div>
        <label for="username">Enter your username</label>
        <input type="text" id="username" name="username" />

        <div style="color: red;" th:if="${#fields.hasErrors('password')}">
            <span>Enter a valid password</span>
        </div>
        <label for="password">Enter your password</label>
        <input type="password" id="password" name="password" />

        <input type="submit" value="Sign in">

    </form>

    </div>

    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>