<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head"></head>

<body class="govuk-template__body">

    <header th:insert="fragments/fragments :: header"></header>
    <main class="govuk-main-wrapper" id="main-content" role="main" style="margin-bottom: 200px">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Sign in</h1>

                <div th:insert="fragments/fragments :: flash-error"></div>

    <p class="govuk-body">You must enter a username and password to add or update information.</p>

    <form class="govuk-form-group" th:action="@{/sign-in}" th:object="${user}" method="post">

        <div class="govuk-form-group">
            <label class="govuk-label" for="username"><strong>Username</strong></label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="username" name="username" />
        </div>

        <div class="govuk-form-group govuk-!-padding-bottom-7">
            <label class="govuk-label" for="password"><strong>Password</strong></label>
            <input class="govuk-input govuk-!-width-three-quarters" type="password" id="password" name="password" />
        </div>

        <input class="govuk-button" type="submit" value="Sign in">

                </div>
            </div>
    </main>
    </div>

    </form>

    </div>

    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>