<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
    <title th:text="council.getCouncilName()"></title>
</head>
<body>

    <header th:insert="fragments/fragments :: header"></header>

    <h1 th:text="${council.getName()}"></h1>

    <p th:text="${council.getPhone()}"></p>
    <p th:text="${council.getEmail()}"></p>

    <a th:href="@{'edit-council-details/' + ${council.getId()}}">Edit council details</a>
    <a th:href="@{'confirm-delete-council/' + ${council.getId()}}">Delete council</a>

    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>