<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
    <title>Enter council details</title>
    <link rel="stylesheet" href="../stylesheets/govuk-frontend-3.8.0.min.css">
</head>
<body class="govuk-template__body">

    <header th:insert="fragments/fragments :: header"></header>

    <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <a href="#" class="govuk-back-link">Back</a>


    <form class="govuk-form-group" th:action="@{/admin/add-new-council}" th:object="${council}" method="post">

        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                <h1 class="govuk-fieldset__heading">


                    <span class="govuk-caption-l">Add a council</span>Housing department details


                </h1>

            </legend>

        </fieldset>

        <div th:if="${#fields.hasErrors('*')}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
            <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
            </div>
        </div>

        <div id="contact-details">

            <h2 class="govuk-heading-m">Contact details</h2>

        <div class="govuk-form-group">
            <label class="govuk-label" for="name">Council name</label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="name" name="name" th:field="*{name}"><br/>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="phone">Phone number</label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="phone" name="phone" th:field="*{phone}"><br/>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="address">Address</label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="address" name="address" th:field="*{address}"><br/>
        </div>

        <div class="govuk-form-group govuk-!-padding-bottom-7">
            <label class="govuk-label" for="email">Email address</label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="email" name="email" th:field="*{email}"><br/>
        </div>

        </div>

        <div id="housing-help">

            <h2 class="govuk-heading-m">Housing help information</h2>

            <div class="govuk-form-group">
                <label class="govuk-label" for="dhp">URL of council Discretionary Housing Payment application</label>
                <input class="govuk-input govuk-!-width-three-quarters" type="text" id="dhp" name="dhp" th:field="*{dhp}"><br/>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="list">Housing register application URL</label>
                <input class="govuk-input govuk-!-width-three-quarters" type="text" id="list" name="list" th:field="*{list}"><br/>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-7">
                <label class="govuk-label" for="info">URL to housing register application supporting information</label>
                <input class="govuk-input govuk-!-width-three-quarters" type="text" id="info" name="info" th:field="*{info}"><br/>
            </div>

        </div>


        <input class="govuk-button" type="submit" value="Submit">

    </form>

            </div>
            </div>


    </main>
    </div>

    <footer th:insert="fragments/fragments :: footer"></footer>

    <script type="text/javascript" src="../javascript/script.js"></script>
</body>
</html>