<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
</head>

<body class="govuk-template__body">

    <header th:insert="fragments/fragments :: header"></header>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

    <form class="govuk-form-group" th:action="@{'/edit-council-details/' + ${council.getId()}}" th:object="${council}" method="post">

        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                <h1 class="govuk-fieldset__heading">


                    <span class="govuk-caption-l">Change details</span>Council information


                </h1>

            </legend>

        </fieldset>

        <div class="govuk-form-group">
            <label class="govuk-label" for="name">Council name</label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="name" name="name" th:value="${council.getName()}"><br/>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="phone">Phone number</label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="phone" name="phone" th:value="${council.getPhone()}"><br/>
        </div>

        <div class="govuk-form-group govuk-!-padding-bottom-7">
            <label class="govuk-label" for="email">Email address</label>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="email" name="email" th:value="${council.getEmail()}"><br/>
        </div>

        <input class="govuk-button" type="submit" value="Change details">

    </form>

                </div>
            </div>

        </main>
    </div>

    <footer th:insert="fragments/fragments :: footer"></footer>

</body>

</html>