<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="fragments/fragments :: head">
    <title>Council details entered</title>
</head>
<body>

    <header th:insert="fragments/fragments :: header"></header>

    <div th:if="${action.equals('add')}">
        <h1>Details for <span th:text="${council.getName()}"></span>  entered</h1>

        <p><a href="../home">Go home</a></p>
        <p><a href="add-new-council">Enter another council's details</a></p>
    </div>

    <div th:if="${action.equals('delete')}">
        <h1><span th:text="${council.getName()}"></span> has been deleted</h1>

        <p><a href="../../home">Go home</a></p>
    </div>

    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>